<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Learning NodeJs
		</title>
  	</head>
	<body>
		<h1>{{title}}</h1>
      		<div>
				{{#each titleArr}}
  					<p>{{@index}}. {{this}}</p>
				{{/each}}
			</div>
  	</body>
</html>