<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			CRUD Web Application
		</title>
  	</head>
	<body>
		<h1 align="center">{{title}}</h1>
			<form align="center" action="/signin/teachAddDB" method="POST">
				Enter First Name<input type="text" name="stuFName"></input><br>
				Enter Last Name<input type="text" name="stuLName"></input><br>
				Enter Class<input type="text" name="stuClass"></input><br>
				Enter Course<input type="text" name="stuCourse"></input><br>
				<input type="submit" value="Add" style="height:25px; width:100px">
			</form>
  	</body>
</html>